<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>answers Page</title>
</head>
<body>
	<form action="GetQuestionnaireDetails" method="POST">
		<input type="hidden" name="questionnaireid" th:value="${questionnaireid}" />
	    <input type="submit" value="<- Go Back" />
	</form>
	<br>
	<table>
		<thead>
			<tr> 
				<th>Section</th>
				<th>Question</th>
				<th>Answer</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="a : ${answers}">
				<td th:if="${a.question.getSection()} == '1'" th:text="Marketing" />
				<td th:if="${a.question.getSection()} == '2'" th:text="Statistical" />
				<td th:text="${a.question.text}"></td>
				<td th:text="${a.text}"></td>
			</tr>
		</tbody>
	</table>	
</body>
</html>