<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gamified Marketing - Homepage</title>
</head>
<body>
	<h1>Homepage</h1>
	
	<div>
		<!-- TODO: errorMsg -->
		<span>
			<h1>Product of the day:</h1>
			
			<p th:text="${potd.name}" style="font-size: 16px"></p>
			
			<img id="potdImg" th:src="'data:image/png;base64,'+ ${img}" alt="#" height=300px  width=400px  />
			
			<br><br>
			
			<form action="GoToQotdOne">
			    <input type="submit" value="Questionnaire of the day" />
			</form>
			
			<br>
		
			<form action="GoToLeaderboard">
			    <input type="submit" value="Leaderboard" />
			</form>
			
			<br>
			
			<form action="Logout">
			    <input type="submit" value="Logout" />
			</form>
		</span>
	
		<span>
			<h1>Reviews:</h1>
			
			<div th:each="q, i : ${questions}">
				<div th:text="${i.index + 1} + ') ' + ${q.text}" style="font-size: 16px"></div>
				<ul>
					<div th:each="a : ${answers}">
			  			<li th:if="${q.id == a.question.id}" th:text="'- [' + ${a.user.username} + ']  ' + ${a.text}" style="font-style: italic"></li>	
					</div>
				</ul>
			</div>
			
		</span>
	
	</div>
	

</body>
</html>