<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Gamified Marketing - Homepage</title>
</head>
<body>
	<h1>Homepage</h1>
	
	<p th:if="${errorMsg!=null}" th:text="${errorMsg}" style="color: red">
	
	<div th:if="${potd!=null}" style="display: flex">
		<div>
			<h1>Product of the day:</h1>
			<p th:text="${potd.name}" style="font-size: 25px; text-align: center; font-weight: bold;"></p>
			<img id="potdImg" th:src="'data:image/png;base64,'+ ${img}" alt="#" height=300px  width=400px  />
			<br>
			<form action="GoToQotdOne" style="text-align: center;">
			    <input type="submit" value="Questionnaire of the day" />
			</form>
			<br>
		</div>
		
		<div style="border-left: solid black 1px; padding-left: 50px; overflow: auto; height: 450px; width: 100%">
			<div style="width: 100%;"><h1>Reviews:</h1></div>
			<div th:if="${questions!=null}" th:each="q, i : ${questions}">
				<div th:text="${i.index + 1} + ') ' + ${q.text}" style="font-size: 16px"></div>
				<ul th:if="${!#arrays.isEmpty(q.answers)}">
					<div th:each="a : ${q.answers}">
			  			<li th:text="'- [' + ${a.user.username} + ']  ' + ${a.text}" style="font-style: italic"></li>	
					</div>
				</ul>
				<p th:if="${#arrays.isEmpty(q.answers)}" style="font-style: italic;">There are no answers yet...</p>
			</div>
		</div>
		
	</div>
	
	<p th:if="${potd==null && noPotdMsg!=null}" th:text="${noPotdMsg}" style="font-weight: bold">
	
	
	<div style="padding-top: 30px;">
	
		<form action="GoToLeaderboard">
		    <input type="submit" value="Leaderboard" />
		</form>
		<br>
		<form action="Logout">
		    <input type="submit" value="Logout" />
		</form>
		
	</div>

</body>
</html>