<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Leaderboard</title>
</head>
<body>
	<div> 
	
	<!--  TODO: ERROR -- 
	
	<form th:if="${warningMsg != null}" action="GoToHomepage" method="GET">
		<p th:text="${warningMsg}" />
		<br>
	    <input type="submit" value="Home" />
	</form> -->
		
		<h1>Overall leaderboard:</h1>
		<table>
		<tr th:each="u, iter : ${ordered_users}">
			<td th:if="${!u.isAdmin}" th:style="${u.username == curr_username} ? 'font-weight: bold'" th:text="${iter.index + 1} + '. ' + ${u.username} + ' - ' + ${u.totalPoints}"/>	
		</tr>
		</table>
		<p th:if="${errorMsg != null}" style="color : red;" th:text="${errorMsg}" />
		<br>
		<form action="GoToHomepage" method="GET">
		    <input type="submit" value="Home" />
		</form>
		
	</div>
</body>
</html>