<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>QOTD - Section 1</title>
</head>
<body>
<h1>Section 1 - Marketing questions</h1>
	
	<div>
		<!-- TODO: errorMsg -->
		<h1>Answer the following questions about the POTD (mandatory!):</h1>
		
		<form action="GoToQotdTwo" method="POST">
			<tr th:each="question, iter : ${questions1}">
    			<td th:text="'Question n.' + ${iter.index + 1} + ': ' + ${question.text}" />
    			<br>
    			<input th:if="${answers1} != null" type="text" name="answers1" th:value="${answers1[iter.index]}" />
    			<input th:if="${answers1} == null" type="text" name="answers1" />
    			<br><br>
			</tr>
			<br><br>
		    <input type="submit" value="Next" />
		</form>
		
	</div>
</body>
</html>