<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Questionnaire Details</title>
</head>
<body>
	<form action="GoToInspectionPage">
	    <input type="submit" value="<- Go Back" />
	</form>
	<br>
	
	<p th:if="${errorMsg!=null}" th:text="${errorMsg}" style="color: red">
	
	<table>
		<h1>List of users that have submitted the questionnaire</h1>
		<thead>
			<tr>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="s : ${submitted}">
				<td th:text="${s.user.username}"></td>
				<td th:text="${s.user.firstname}"></td>
				<td th:text="${s.user.lastname}"></td>
				<td th:text="${#dates.format(s.accesstime,'dd/MM/yyyy HH:mm')}"></td>
				<td><a th:href="@{/GetAnswers(questionnaireid=${s.questionnaire.id},userid=${s.user.id})}">See Answers</a></td>
			</tr>
		</tbody>
	</table>

	<table>
		<h1> List of cancelled questionnaires</h1>
		<thead>
			<tr>
				<th>Username</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="c : ${cancelled}">
				<td th:text="${c.user.username}"></td>
				<td th:text="${c.user.firstname}"></td>
				<td th:text="${c.user.lastname}"></td>
				<td th:text="${#dates.format(c.accesstime,'dd/MM/yyyy HH:mm')}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>